<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <h2>New order</h2>
    <form action="#" th:action="@{/order/place}" th:object="${request}" method="post">
        <p>UserID: <input type="text" th:field="*{userId}"/></p>
        <select th:field="*{magazineId}">
            <option th:each="magazine : ${magazines}"
                    th:text="${magazine.value.title}"
                    th:value="${magazine.value.id}"/>
        </select>
        <p><input type="submit" value="Order magazine"/></p>
    </form>
</body>
</html>