<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
</head>
<body>
    <h2>Choose payment</h2>
    <form action="#" th:action="@{/payment}" th:object="${request}" method="post">
        <select th:field="*{paymentType}">
            <option value=""> Select payment type! </option>
            <option th:each="pt : ${paymentTypes}"
                    th:text="${pt.value}"
                    th:value="${pt.value}"/>
        </select>
        <p><input type="submit" value="Proceed payment" /></p>
    </form>
</body>
</html>