<div class="row" *ngIf="success">
  <div class="col-xs-12">
    <p class="alert alert-success">
      <strong>Order confirmed successfully!</strong> Please click following link to proceed further.
    </p>
  </div>
</div>
<div class="row" *ngIf="error">
  <div class="col-xs-12">
    <p class="alert alert-danger">
      <strong>Error!</strong> Status code: <strong>{{errorStatus}}</strong>
    </p>
  </div>
</div>
<button type="button" class="btn btn-secondary" (click)="execute()">Execute payment</button>
